
  nav {
    background-color: #0082e6;
    height: 80px;
    width: 100%;
  }
  label.logo {
    color: #ffffff;
    font-size: 25px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul {
    float: right;
    margin-right: 20px;
  }
  nav ul li {
    display: inline-block;
    line-height: 80px;
    /* margin: 0 5px; */
  }
  nav ul li a {
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration:none;
  }
  #login
  {
    /* background-color: #ffffff !important; */
    padding:10px 16px;
    border:none;
    font-weight: bold;
    color:blue !important;
    margin-right:50px;
    border-radius:8px ;
    gap:20px; 
  }
   ul{
    margin-left:150px;
   }
   .title
   {
    margin-left: 50px;
   margin-top:15px;
   }
    ul li .active
   {
    color:white;
    text-align: center;
   
    
   }
   .button1
   {
    color:white;
   }
    